.home {
    min-height: 500px;
    width: 100%;
    background-color: red;

    .buttonWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        Button {
            min-width: 90px !important;
        }
    }
}